@font-face {
	font-family: 'Share Tech Mono';
	src: url('vendor/ShareTechMono-Regular.ttf');
}

body, .demo-text {
	margin: 0;
	border: 0;
}

body {
	font-family: 'Share Tech Mono', monospace;
	color: rgba(0,0,0,0.8);
	background: rgb(212,225,230);
	background: linear-gradient(
		0deg, 
		rgba(210,210,210,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#demo-title {
	margin: 4rem 1.2rem 1.2rem;
	font-size: 3rem;
	display: inline-block;
	
}

#demo-paragraph {
	overflow-wrap: break-word;
	margin: 1rem 1.5rem;
	color: rgba(0,0,0,0.6);
}

@media screen and (min-width: 30rem) {

	#demo-title {
		margin: 5rem 5rem 0.5rem;
		font-size: 4rem;
	}

	#demo-paragraph {
		margin-left: 5.5rem;
	}

}